/* HomePage.css */
/* .container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* img {
  width: 150px;
  height: 150px;
 margin-right:
  margin-bottom: 20px;
} */

/* button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #d68159;
}

.image-container {
  flex: 1;
  padding: 0px;
}

.image-container img {
  width:60px;
  height: auto;
} */
